.MainPage-main{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
    transition: 1500ms ease;
    display: grid;
    grid-template-rows: 80px 1fr;
    grid-template-columns: .15fr 2fr .15fr;
}

.MainPage-main.hidden{
    top: 100%;
}

.MainPage-container{
    width: 100%;
    height: 100%;
    grid-row: 2;
    grid-column: 2;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.Play-container{
    border-radius: 20px;
    width: 100%;
    padding: 15px;
    background-color: white;
    box-shadow: 0 0 10px -3px grey;
    margin-bottom: 20px;
}

.orange-circle-container{
    /* border:solid; */
    display: flex;
    justify-content: space-around;
}

.orange-circle-small{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    color: white;
    height: 50px;
    width: 50px;
    background-color: #da7e05;
    border-radius: 50%;
    font-size: large;
    font-weight: 600;
    box-shadow: 0 0 10px -2px grey;
}

.orange-circle-small:hover{
    opacity: .5;
    cursor: pointer;
}

.Add-food-container{
    border-radius: 20px;
    width: 100%;
    padding: 15px;
    background-color: white;
    box-shadow: 0 0 10px -3px grey;
    margin-bottom: 30px;
}

.Add-food-text-row{
    height: 40px;
    padding: 2px 0;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 10px 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.food-input{
    line-height: 1;
    font-size: 18px;
    font-weight: 500;
    width: 80%;
    margin: 0;
    padding: 0;
    color: grey;
    font-family: 'Open Sans', sans-serif;
    border: none;
    border-radius: 0;
    border-bottom: solid;
    background-color: transparent;
}

.orange-circle-small.food-search{
    grid-area: 1 / 3;
    font-size: 35px;
}

.Display-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}

.Add-text{
    margin-top: 15px;
}

.down-triangle{
    margin-top: 5px;
}