.MainPage-main{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.MainPage-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}