.NavBar-main{
    position: fixed;
    width: 100%;
    z-index: 2;
}

.NavBar-container{
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: white;
    transition: 1000ms ease;
    box-shadow: 0 0 10px -3px grey;
}

.NavBar-container.hidden{
    margin-top: -75px;
    transition: 1000ms ease;
}


.handShake-icon{
    margin-top: -20px;
    height: 100px;
}

.dropList {
    display: flex;
    flex-direction: column;
    margin-top: -40px;
    list-style: square;
    position: absolute;
    left: 93vw;
    top: 5vh;
    align-content: flex-start;
    cursor: pointer;
    font-size: 40px;
    color: gray;
}


.hiddenMenu {
    visibility: hidden;
}
.dropList:hover {
    opacity: .5;
    transition: all 0.5s ease;
}

.dropFields {
    visibility: visible;
    list-style: none;
    position: absolute;
    left: 94vw;
    top: 5vh;
    margin: auto;
    transition: all 0.5s ease;
    
}
.dropFields li {
    visibility: visible;
    background-color: white;
    transition-duration: 500ms;
    box-shadow: 0 0 25px -3px grey;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
    padding: 2px;
    min-width: 15vw;  
}
.dropFields li:hover {
    border: 2px inset gray;
    transition-duration: 200ms;
}

.dropMenuContainer {
    height: 6vh;
    width: 6vw;
    margin-left: -10vw;
    margin-top: 2vh;
    box-shadow: 0 0 10px -3px grey;
    background-color: white;
}

@media only screen and (min-width: 701px) and (max-width: 1299px) {
    .dropList {
        left: 89vw;
        top: 6vh;
    }
    .dropFields {
        left: 90vw;
    }
}

@media only screen and (max-width: 700px) {
    .dropList {
        left: 75vw;
        top: 6vh;
    }
    .dropFields {
        left: 79vw;
    }
}
