.NavBar-main{
    position: fixed;
    width: 100%;
}

.NavBar-container{
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: white;
    transition: 1000ms ease;
    box-shadow: 0 0 5px 0 grey;
}

.NavBar-container.hidden{
    margin-top: -75px;
    transition: 1000ms ease;
}


.handShake-icon{
    margin-top: -20px;
    height: 100px;
}


