@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@200;300;400;500;700;800&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

html, body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#root{
  height: 100vh;
  width: 100%;
}

.App{
  height: 100vh;
  width: 100%;
  background-image: url('./images/yellowLiquidBackgroundMobile.png');
  opacity: .9;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: 'Open Sans', sans-serif;
  color: #545454;
  transition: 250ms ease;
}

h1{
  font-family: 'Arima Madurai', cursive;
  color: #da7e05;
  margin: 0;
  padding: 0;
  line-height: 1;
}

h2{
  margin: 0;
  padding: 0;
  line-height: 1.2;
  
}

h3{
  line-height: 1;
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}
h4{
  line-height: 1;
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.sparkle-one{
  position: fixed;
  height: 30%;
  top: -15px;
  left: -30px;
  z-index: -1;
}
.sparkle-two{
  position: fixed;
  bottom: -25px;
  right: -20px;
  height: 30%;
  z-index: -1;
}

@media only screen and (min-width: 700px) {
  .App{
    background-image: url('./images/yellowLiquidBackgroundDesktop.png');
    transition: 250ms ease;
  }
  
}


