.AboutPage-main{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: 2000ms ease;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.AboutPage-main.hidden{
    top: 100%;
}

.AboutPage-container{
    font-size: 22px;
    padding: 2vh;
    width: 100%;
    height: 45%;
    grid-area: 2 / 2 / 5 / 5; 
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 0 5px 0 grey;
    /* border: solid; */
}

.aboutTitle {
    grid-area: 2 / 2 / 3 / 5;
    text-align: center;
}

.hiddenLogo {
    display: none;
}

.aboutCredits {
    display: flex;
    flex-direction: row;  
    justify-content: space-evenly;
    font-size: 17px;
    margin-top: 2vh;
    /* border: solid; */
}
.aboutPictures {
    grid-area: 3 / 2 / 4 / 5;
    height: 17vh;
    width: auto;
    border-radius: 500px;
    box-shadow: 0 0 10px -3px grey;
}

i {
    cursor: pointer;
    padding-left: 5px;
    font-size: 28px;
}
i:active {
    opacity: 0.5;
}
i:hover {
    color: #da7e05;
    transition-duration: 200ms;
}
a {
    text-decoration: none;
    color: inherit;
}
.mikeAbout {
    display: flex;
    flex-direction: column;
}
.adamAbout {
    display: flex;
    flex-direction: column;
}
.travisAbout {
    display: flex;
    flex-direction: column;
}
.domAbout {
    display: flex;
    flex-direction: column;
}

.mikeName, .travisName, .adamName, .domName {
    margin-top: -9vh;
    color: transparent;
    font-size: 16px;
    font-weight: 500;
}

.mikeAbout:hover > .mikeName {
    color: black;
    opacity: 100%;
    transition-duration: 200ms;
}
.mikeAbout:hover > .aboutPictures {
    opacity: 30%;
    transition-duration: 200ms;
}
.adamAbout:hover > .adamName {
    color: black;
    opacity: 100%;
    transition-duration: 200ms;
}
.adamAbout:hover > .aboutPictures {
    opacity: 30%;
    transition-duration: 200ms;
}
.travisAbout:hover > .travisName {
    color: black;
    opacity: 100%;
    transition-duration: 200ms;
}
.travisAbout:hover > .aboutPictures {
    opacity: 30%;
    transition-duration: 200ms;
}
.domAbout:hover > .domName {
    color: black;
    opacity: 100%;
    transition-duration: 200ms;
}
.domAbout:hover > .aboutPictures {
    opacity: 30%;
    transition-duration: 200ms;
}
.aboutIcons {
    margin-top: 8vh;
}

@media only screen and (max-width: 700px) {
    .mikeName, .travisName, .adamName, .domName {
        margin-top: 1vh;
        color: #545454;
    }
    .AboutPage-container {
        height: 85vh;
        min-width: 55vw;
        margin-top: 5vh;
    }
    .aboutCredits {
        flex-direction: column;
        align-items: center;
        row-gap: 1vh;
        margin-top: 2vh;
    }
    .aboutPictures {
        height: 12vh;
        max-width: 40vw;
        align-self: center;
    }

    .aboutTitle {
        font-size: 16px;
        margin-top: 1vh;
        padding: 5px;
    }
    .aboutIcons {
        margin-top: 1vh;
    }
    i:hover {
        color: inherit;
    }
    i:hover {
        color: inherit;
    }
    .travisAbout:hover > .travisName, .mikeAbout:hover > .mikeName, .adamAbout:hover > .adamName, .domAbout:hover > .domName {
        color: inherit;
        opacity: inherit;
    }
    .travisAbout:hover > .aboutPictures, .mikeAbout:hover > .aboutPictures, .adamAbout:hover > .aboutPictures, .domAbout:hover > .aboutPictures {
        opacity: 100%;
    }
    i {
        font-size: 22px;
    }
}

@media only screen and (min-width: 701px) and (max-width: 1199px) {
    .AboutPage-container {
        max-width: 90vw;
        font-size: 16px;
        height: 32vh;
        min-width: 80vw;
    }
    .mikeName, .travisName, .adamName, .domName {
        margin-top: 1vh;
        color: #545454;
    }
    .aboutIcons {
        margin-top: 1vh;
    }
    i:hover {
        color: inherit;
    }
    .travisAbout:hover > .travisName, .mikeAbout:hover > .mikeName, .adamAbout:hover > .adamName, .domAbout:hover > .domName {
        color: inherit;
        opacity: inherit;
    }
    .travisAbout:hover > .aboutPictures, .mikeAbout:hover > .aboutPictures, .adamAbout:hover > .aboutPictures, .domAbout:hover > .aboutPictures {
        opacity: 100%;
    }
    i {
        font-size: 24px;
    }
}

@media only screen and (max-width: 380px) {
    .AboutPage-container {
        margin-top: 7vh;
        height: 85vh;
    }
    .aboutPictures {
        max-height: 10vh;
    }
}