.AboutPage-main{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: 2000ms ease;
    display: grid;
    grid-template-rows: 80px 1fr;
    grid-template-columns: 1fr 2fr 1fr;
}

.AboutPage-main.hidden{
    top: 100%;
}

.AboutPage-container{
    font-size: 22px;
    width: 100%;
    height: 45%;
    grid-row: 2;
    grid-column: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    /* border: 1px solid blue; */
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 0 5px 0 grey;
}

.aboutTitle {
    display: flex;
    /* border-bottom: 2px solid #545454; */
    justify-content: center;
    margin-top: 5vh;
}


.aboutCredits {
    display: flex;
    flex-direction: row;  
    flex-wrap: no-wrap;
    justify-content: space-around;
    flex-basis: auto;
    font-size: 17px;
}
.aboutPictures {
    display: flex;
    height: 15vh;
    border-radius: 500px;
    box-shadow: 0 0 10px -3px grey;
    margin-top: 1vh;
    margin-right: 10vh;
}
.aboutPictures:hover {
    opacity: 0.5;
}
li {
    list-style: none;

}

i {
    cursor: pointer;
    padding-left: 5px;
}
i:hover {
    opacity: 0.5;
}
a {
    text-decoration: none;
    color: inherit;
}

@media only screen and (max-width: 600px) {
    .AboutPage-container {
        height: 80vh;
        min-width: 75vw;
    }
    .aboutCredits {
        flex-direction: column;
        align-items: center;
        row-gap: 5vh;
        
    }
    .aboutPictures {
        height: 10vh;
        justify-content: flex-start;
    }
    .smallNames {
        font-size: 16px;
        margin-left: -10vw;
    }
    .aboutTitle {
        font-size: 16px;
        margin-top: -10vh;
        padding: 5px;
    }
}

@media only screen and (min-width: 601px) and (max-width: 1199px) {
    .AboutPage-container {
        height: 30vh;
        max-width: 90vw;
        font-size: 16px;
    }
    .aboutPictures {
        height: 10vh;
    }
    .aboutTitle {
        padding: 5px;
        /* font-size: 18px; */
    }
    .smallNames {
        font-size: 14px;
    }
}