.playPage-main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: 1500ms ease;
    display: grid;
    grid-template-rows: 1fr 5fr .6fr;
    grid-template-columns: .15fr 2fr .15fr;
}

.playPage-background {
    grid-row: 2;
    grid-column: 1 / span 3;
    background-color: #ffffff88;
}

.playPage-container {
    width: 100%;
    height: 100%;
    grid-row: 2;
    grid-column: 2;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
}


.info-box {
    padding: 2em;
    margin-top: 5%;
    text-align: center;
    background-color: white;
    border-radius: 20px;
}

.choose-one {
    width: 100%;
    height: 100%;
    grid-column: 2;
    grid-row: 3;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    max-width: 700px;
}

.food-choice {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -100px;
}

.delete-button {
    cursor: pointer;
    width: 3em;
    margin-top: 30px;
}

.counter {
    grid-row: 3;
    grid-column: 2;
    text-align: center;
    margin: auto;
}

.food-choice .Option-container {
    height: 150px;
    width: 150px;
    margin: 15px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 10px -1px grey;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

.food-choice img.Option-image {
    height: 150px;
    grid-row: 1;
    grid-column: 1;
}

.food-choice .Option-name-container {
    grid-row: 1;
    grid-column: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    z-index: 1;
    color: white;
    width: 150px;
}

.food-choice .Option-name {
    width: 150px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #1d1d1d;
    text-align: center;
    padding: 2px 0px;
}

/*  MEDIA QUERIES */